#footer
  clearfix()
  padding: 40px 0
  border-top 1px solid #eee
  color: #7f8c8d
  font-family: font-title
  position: relative
  text-align: center
  @media mq-normal
    text-align: left
  @media print
    display: none
  a
    color: inherit
    font-weight normal
    text-decoration: none
    transition: 0.2s
    &:hover
      color: #0e83cd

#footer-copyright
  line-height: 1.4
  @media mq-normal
    float: left
  a
    font-weight: bold

#footer-links
  margin-top: 1em
  @media mq-normal
    float: right
    margin-top: 0

.footer-link
  font-size: 30px
  margin-left: 20px
  &:first-child
    margin-left: 0